p,
.checkMe {
  color: rgb(29, 97, 122);
  font-size: small;
}
.signIn{
    width: 15%;
}
.buttonColor {
  background-color: rgb(144, 187, 194);
  color: whitesmoke;
}
.welcome{
  color: rgb(144,187,194);
}

@media screen and (max-width: 400px) {
  .signIn {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
    .signIn {
      width: 35%;
    }
  }
