.buttonColor{
    background-color: rgb(144, 187, 194);
    color: whitesmoke;
}

.removeIcon{
    color: red;
}

.pencilIcon{
    color: seagreen;
}

.caption {
    padding: 5px;
    color: rgb(144, 187, 194);
    border-color: rgb(152, 215, 194);
    border-radius: 10px;
    border-width: 4px;
    border-style: double;
    text-align: center;
  }