<form #savingszbbForm="ngForm" data-toggle="collapse" class="form-savings">
  <p class="small text-muted ml-3 mt-2 mb-n2">Enter your expected monthly savings</p>
  <hr>
  <div class="row ml-3 mt-2">
    <div class="col">
      <label for="savingsType">
        <select name="savingsType" id="savingsType" class="custom-select">
          <option selected>Savings Type</option>
          <option value="deposit">Deposit Savings</option>
          <option value="mma">Money Market Account</option>
          <option value="cd">Certificate of Deposit (CD)</option>
          <option value="tbill">Treasury Bill</option>
          <option value="bond">Bonds</option>
          <option value="employerSponsored">Employer Sponsored</option>
        </select>
      </label>
    </div>
    <div class="col mr-3">
      <input type="number" class="form-control" id="savingsAmount" name="savingsAmount" placeholder="0.00" required>
    </div>
  </div>

  <!-- new saving for of loop -->
  <div *ngFor="let newSaving of newSavings; let i=index;">
    <div class="row ml-3 mt-2">
      <div class="col">
        <label for="savingsType">
          <select name="savingsType" id="savingsType" class="custom-select">
            <option selected>Savings Type</option>
            <option value="deposit">Deposit Savings</option>
            <option value="mma">Money Market Account</option>
            <option value="cd">Certificate of Deposit (CD)</option>
            <option value="tbill">Treasury Bill</option>
            <option value="bond">Bonds</option>
            <option value="employerSponsored">Employer Sponsored</option>
          </select>
        </label>
      </div>
      <div class="col mr-3">
        <input type="number" class="form-control" id="savingsAmount" name="savingsAmount" placeholder="0.00" required>
      </div>
    </div>
  </div>

  <!-- Custom for of loop -->
  <div *ngFor="let custom of customSavings; let i = index;">
    <div class="row ml-3 mt-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Custom Saving Name" [(ngModel)]="custom.customType"
          [ngModelOptions]="{standalone: true}">
      </div>

      <div class="col mr-3">
        <input type="number" class="form-control" placeholder="0.00">
      </div>
    </div>
  </div>

  <hr>

  <div class="mb-3">
    <div class="row">
      <div class="col">


        <button class="btn ml-4" type="button" id="addNewSavingBtn" (click)="addNewSaving()">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd"
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
          Add New Saving
        </button>
      </div>
      <div class="col">

        <button class="btn ml-5" type="button" id="addCustomSavingBtn" (click)="addCustomSaving()">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd"
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
          Add Custom Saving
        </button>
      </div>
    </div>
  </div>
</form>