
.learning{
    color: rgb(16,120,105);
    font-size: medium;
    margin-bottom: 5%;
}

.aside h3, .asideLink{
    color: rgb(32,85,96);
    font-size: x-large;
}

.buttonColor{
    background-color: rgb(36,134,128); 
    color: whitesmoke;
}
.dropDownColor :hover{
    background-color: rgb(36,134,128); 
    color: whitesmoke;
    font-size: small;
    letter-spacing: .25em;
}

.info{
    text-align: justify;
}