<!-- If budget plan is blank -->
<div class="row">
  <div class="col aside">
    <h3 class="mt-4">Start Here:</h3>
    <p class="lead">Learn about budget plans:</p>
    <div class="learning">
      <ul class="ml-n4">
        <li><a href="#zbb" data-toggle="collapse" class="asideLink">Zero Based Budget</a></li>

        <p class="paragraphs" id="zbb">
          "Zero-based budgeting is a method that has you allocate all of your money to expenses, savings, and debt
          payments. The goal is that your income minus your expenditures equals zero by the end of the month."
          <br>
          <small class="text-muted">Source: NerdWallet <br>
            Learn More about
            <a href="https://www.nerdwallet.com/article/finance/zero-based-budgeting-explained">Zero-Based
              Budgeting</a></small>
        </p>


        <li><a href="#envelope" data-toggle="collapse" class="asideLink">Envelope System</a></li>

        <p class="paragraphs" id="envelope">
          With the Envelope System, you physically allocate portions of your monthly income (in cash) toward different
          spending categories, which you designate with an envelope.
          <br>
          <small class="text-muted">Source: NerdWallet<br>
            Learn more about
            <a href="https://www.nerdwallet.com/article/finance/envelope-system"> The Envelope System</a>
          </small>
        </p>
        <li><a href="#fifty" data-toggle="collapse" class="asideLink">50/30/20 Budget</a></li>

        <p class="paragraphs" id="fifty">
          The 50/30/20 budgeting plan divides your expenses into three categories: needs, wants, and savings / debt
          repayment. Your net income is then allocated 50% to needs, 30% to wants, 20% to savings / debt repayment.
          <br>
          <small class="text-muted"> Source: NerdWallet<br>
            Learn more about
            <a href="https://www.nerdwallet.com/article/finance/nerdwallet-budget-calculator"> 50/30/20 budgeting</a>
          </small>
        </p>
      </ul>
    </div>
  </div>



  <div class="col-9">
    <h4>Select a budget plan</h4>
    <h4>Enter Expenses, Income, Savings</h4>
    <h4>Set goals</h4>
  </div>
</div>

<!-- If budget plan is not blank-->
<div>
  <div class="row">
    <div class="col aside">
      <h4 class="mt-4">Key points about their selected budget plan</h4>
      <!-- if budget plan is zbb, then info -->
      <!-- if budget is 50, then info -->
      <!-- if budget is envelop, then info -->
    </div>
    <div class="col-9">
      <h4>Change Budget Plan</h4>
      <h4>Update Expenses, Income, Savings</h4>
      <h4>Set goals</h4>
    </div>
  </div>
</div>