<!-- If its their first time -->
<div>
  <h3>Start Here:</h3>
  <!--include tool tips?-->
  <h4>Learn about different budget plans:</h4>
  <div class="learning">
    <ul>
      <li><a href="#zbb" data-toggle="collapse" class="learning">Zero Based Budget</a></li>
      
      <p class="paragraphs" id="zbb">
        "Zero-based budgeting is a method that has you allocate all of your money to expenses, savings, and debt payments. The goal is that your income minus your expenditures equals zero by the end of the month."
        <br>
        <small class="text-muted">Source: NerdWallet <br>
          Learn More about 
        <a href="https://www.nerdwallet.com/article/finance/zero-based-budgeting-explained">Zero-Based Budgeting</a></small>
      </p>

    
      <li><a href="#envelope" data-toggle="collapse" class="learning">Envelope System</a></li>

      <p class="paragraphs" id="envelope">
        With the Envelope System, you physically allocate portions of your monthly income (in cash) toward different spending categories, which you designate with an envelope.
        <br>
        <small class="text-muted">Source: NerdWallet<br>
          Learn more about 
        <a href="https://www.nerdwallet.com/article/finance/envelope-system"> The Envelope System</a>
        </small>
      </p>
      <li><a href="#fifty" data-toggle="collapse" class="learning">50/30/20 Budget</a></li>

      <p class="paragraphs" id="fifty">
        The 50/30/20 budgeting plan divides your expenses into three categories: needs, wants, and savings / debt repayment. Your net income is then allocated 50% to needs, 30% to wants, 20% to savings / debt repayment. 
        <br>
        <small class="text-muted"> Source: NerdWallet<br>
          Learn more about
          <a href="https://www.nerdwallet.com/article/finance/nerdwallet-budget-calculator"> 50/30/20 budgeting</a>
        </small>
      </p>
    </ul>
  </div>
  <h4>Select a budget plan</h4>
  <!-- If its not their first time -->
  <h4>Enter Expenses, Income, Savings</h4>
  <h4>Set goals</h4>
</div>
