

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(16,120,105);
}
.welcome{
    padding-top: 25px;
    margin-bottom: -2%;
}
.body{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(17,101,48);
    font-size: x-large;
}

@media screen and (max-width: 400px) {
    .welcome {
      font-size: x-large;
    }
  }