<form #incomeForm="ngForm" class="form-income">
  <p class="small text-muted ml-3 mt-2 mb-n2">Enter your expected monthly income</p>
  <hr>
  <div class="form-group mt-3">
    <div class="row ml-3">
      <div class="col">
        <label for="incomeType">
          <select name="incomeType" id="incomeType" class="custom-select w-auto">
            <option selected>Income Type</option>
            <option value="alimony">Alimony</option>
            <option value="paycheck">Pay Check</option>
            <option value="ue">Unemployment Benefits</option>
            <option value="bonus">Bonus</option>
            <option value="childSupport">Child Support</option>
            <option value="disabilityBenefits">Disability Benefits</option>
            <option value="gambling">Gambling income</option>
            <option value="gifts">Gift Income</option>
            <option value="interest">Interest and Dividends</option>
            <option value="juryDuty">Jury Duty Pay</option>
            <option value="custom">Custom Income Type</option>
          </select>
        </label>
      </div>
      <div class="col mr-3">
        <input type="number" class="form-control mb-3" id="incomeAmount" name="incomeAmount" placeholder="0.00"
          required>
      </div>
    </div>
    <!-- new income for of loop -->
    <div *ngFor="let newIncome of newIncomes; let i=index;">
      <div class="row ml-3">
        <div class="col">
          <label for="incomeType">
            <select name="incomeType" id="incomeType" class="custom-select w-auto">
              <option selected>Income Type</option>
              <option value="alimony">Alimony</option>
              <option value="paycheck">Pay Check</option>
              <option value="ue">Unemployment Benefits</option>
              <option value="bonus">Bonus</option>
              <option value="childSupport">Child Support</option>
              <option value="disabilityBenefits">Disability Benefits</option>
              <option value="gambling">Gambling income</option>
              <option value="gifts">Gift Income</option>
              <option value="interest">Interest and Dividends</option>
              <option value="juryDuty">Jury Duty Pay</option>
            </select>
          </label>
        </div>
        <div class="col mr-3">
          <input type="number" class="form-control mb-3" id="incomeAmount" name="incomeAmount" placeholder="0.00"
            required>
        </div>
      </div>
    </div>
    <!-- Custom for of loop -->
    <div *ngFor="let custom of customIncomes; let i = index;">
      <div class="row ml-3 mt-3">
        <div class="col">
          <input type="text" class="form-control w-auto" placeholder="Custom Income Name"
            [(ngModel)]="custom.customType" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col mr-3">
          <input type="number" class="form-control" placeholder="0.00">
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="">
    <div class="row">
      <div class="col">
        <button class="btn ml-4" type="button" id="addNewIncomeBtn" (click)="addNewIncome()">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd"
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
          Add New Income
        </button>
      </div>
      <div class="col">
        <button class="btn ml-5" type="button" id="addCustomBtn" (click)="addCustomIncome()">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd"
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
          Add Custom Income
        </button>
      </div>
    </div>
  </div>
</form>