<div class="container mt-5">
    <div class="caption">
        <h3 class="text-capitalize">
            Profile
        </h3>
    </div>

    
    <div class="tab-content">
        <div id="profile" class="tab-pane active">
            <div id="profile" class="profileUpdate">
                <div class="alert alert-danger py-2 my-2" role="alert" *ngIf="showErrorMessage">
                    {{errorMessage}}
                </div>
                <div class="alert alert-success py-2 my-2" role="alert" *ngIf="showSuccessMessage">
                    {{successMessage}}
                </div>
                <form #profileForm="ngForm" class="form-profile w-75" (ngSubmit)="submitProfileChanges()">
                    <div class="form-group row mt-3">
                        <div class="col">
                            <label for="staticFirstName">First Name</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticFirstName"
                                value="{{currentUser.firstName}}">
                        </div>
                        <div class="col">
                            <label for="inputFirst">Update First Name</label>
                            <input type="text" class="form-control" id="inputFirst" name="firstName"
                                placeholder="First Name" required [(ngModel)]="updateUser.FirstName">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col">
                            <label for="staticLastName">Last Name</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticLastName"
                                value="{{currentUser.lastName}}">
                        </div>
                        <div class="col">
                            <label for="inputLast">Update Last Name</label>
                            <input type="text" class="form-control" id="inputLast" name="lastName"
                                placeholder="Last Name" required [(ngModel)]="updateUser.LastName">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col">
                            <label for="staticEmail">Email</label>
                            <input type="Email" readonly class="form-control-plaintext" id="staticEmail"
                                value="{{currentUser.email}}">
                        </div>
                        <div class="col">
                            <label for="inputEmail">Update Email</label>
                            <input type="Email" class="form-control" id="inputEmail" name="email"
                                placeholder="Email Address" required [(ngModel)]="updateUser.Email">
                        </div>
                    </div>

                    <button class="btn buttonColor" type="submit" [disabled]="!profileForm.valid">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            *ngIf="formSubmitted"></span>
                        Save Changes
                    </button>
                </form>
                

                <div class="caption">
                    <h3 class="text-capitalize">
                        Update Password
                    </h3>
                    <p class="text-muted">Choose a password that will be hard for other to guess</p>
                </div>
                <div class="alert alert-danger py-2 my-2" role="alert" *ngIf="showPasswordError">
                    {{errorMessage}}
                </div>
                <div class="alert alert-success py-2 my-2" role="alert" *ngIf="showPasswordSuccess">
                    {{successMessage}}
                </div>

                <form #passwordForm="ngForm" class="form-password w-75" (ngSubmit)="submitPasswordChanges()">
                    <div class="form-group row mt-3">
                        <div class="col">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="password"
                                placeholder="Password" 
                                [(ngModel)]="updatedPassword.Password" required>
                        </div>
                        <div class="col">
                            <label for="confirmInputPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmInputPassword" name="confirmPassword"
                                placeholder="Confirm Password" (input)="validatePasswordsMatch()"
                                [(ngModel)]="confirmPassword" required>
                        </div>
                    </div>
                    <button class="btn buttonColor" type="submit"
                        [disabled]="!passwordForm.valid || !passwordFormValid">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            *ngIf="passwordFormSubmitted"></span>
                        Save Changes
                    </button>
                </form>
            </div>
        </div>


    </div>
</div>