<div class="container">
  <div *ngIf="!loggedIn()">

    <h4 class="text-center mt-3">Handle your finances like a pro</h4>
    <div class="row">
      <div class="col-sm-2 col-md-3"></div>
      <div class="col">
        <p class="text-center text-muted">Gone are the days when dealing with money was scary. Mi Feria makes
          budgeting and money management as easy as 1, 2, 3! </p>
      </div>
      <div class=" col-sm-2 col-md-3"></div>
    </div>

    <div class="d-flex justify-content-center mt-2">
      <a class="btn buttonColor" [routerLink]="['/signIn']" role="button">Get Started</a>
    </div>



    <div class="row">
      <div class="col-md-4 mt-5">
        <h4 class="lead">Learn about different budgeting plans</h4>
        <hr>
        <p>
          Start by diving into three tried-and-true budgeting plans that are easy to implement
        </p>
        
        <ul>
          <li>Zero Based Budget</li>
          <li>Envelope System</li>
          <li>50/30/20</li>
        </ul>
      </div>
      <div class="col text-center">
        <img src="assets/images/learn.PNG">
      </div>
    </div>



    <div class="row mt-5">
      <div class="col text-center">
        <img src="assets/images/handling.PNG">
      </div>
      <div class="col-md-4 mt-5">
        <div class="row mb-4"></div>
        <div class="row">
          <div class="col">
          <h4 class="lead"> Select your preferred plan </h4>
          <hr>
          <p>After learning about the different plans, choose the one that would best fit into your lifestyle and
             suit your needs.
          </p>
        </div>
        </div>
        
      </div>
    </div>


    <div class="row mt-5">
      <div class="col-md-4">
        <h4 class="lead">Enter your financial information </h4>
        <hr>
        <p>Understanding your current financial situation is key to getting your finances under control.
          By laying out your monthly income, expenses, and savings, you'll get a better idea of how you're 
          doing today, and how you can tackle your long term financial goals tomorrow. 
        </p>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="assets/images/setgoals.PNG">
        </div>
      </div>
    </div>

    <h4 class="lead text-center mt-5">
      And just like that, you're closer to achieving your financial goals. 
    </h4>

    <div class="text-center">
      <img src="assets/images/progress.PNG">
    </div>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <a class="btn buttonColor" [routerLink]="['/signIn']" role="button">Get Started</a>
    </div>

  </div>









  <div *ngIf="loggedIn()">
    <h1 class="text-center mt-4">Welcome to Mi Feria!</h1>
    <div class="row">
      <div class="col">
        <h2>Why "Mi Feria"</h2>
        <p>In spanish, the term "Feria" roughly translates to cash and "Mi Feria" translates to my money.
          The Mi Feria Budgeting Application is all about learning to own your money and take control of your financial situation! </p>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="assets/images/working.PNG">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col ">
        <div class="text-center">
          <img src="assets/images/relaxing.PNG">
        </div>
      </div>
      <div class="col pt-5">
        <h2>Money is not scary</h2>
        <p>
          At some point, someone said money was scary and everyone agreed. But money is not scary, and taking control of your financial situation shouldn't be either.
          Once you accept this, meeting your short and long term financial goals will be as easy as pie.
        </p>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col pt-5">
        <h2>"Budget" is not a bad word</h2>
        <p>Through the Mi Feria process, you will learn that budget is not a bad word! In fact, your budget will become your best friend. As you progress, you will learn to use your budget to achieve your short and long term financial goals.</p>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="assets/images/monies.PNG">
        </div>
      </div>
    </div>

    

    <p class="lead">Go to <a class="reroute" [routerLink]="['/budget']">Budget</a></p>

  </div>

</div>