<div class="container">
  <div *ngIf="!loggedIn()">

    <h4 class="text-center mt-3">Handle your finances like a pro</h4>
    <div class="row">
      <div class="col-sm-2 col-md-3"></div>
      <div class="col">
        <p class="text-center text-muted">Gone are the days when dealing with money was scary. Mi Feria makes
          budgeting and money management as easy as 1, 2, 3! </p>
      </div>
      <div class=" col-sm-2 col-md-3"></div>
    </div>

    <div class="d-flex justify-content-center mt-2">
      <a class="btn buttonColor" [routerLink]="['/signIn']" role="button">Get Started</a>
    </div>



    <div class="row">
      <div class="col-md-4 mt-5">
        <p class="lead">Learn about different budgeting plans</p>
        <hr>
        <p>
          Start by diving into three tried-and-true budgeting plans that are easy to implement
        </p>
        <ul>
          <li>Zero Based Budget</li>
          <li>Envelope System</li>
          <li>50/30/20</li>
        </ul>
      </div>
      <div class="col text-center">
        <img src="assets/images/learn.PNG">
      </div>
    </div>



    <div class="row mt-5">
      <div class="col text-center">
        <img src="assets/images/handling.PNG">
      </div>
      <div class="col-md-4 mt-5">
        <div class="row mb-4"></div>
        <div class="row">
          <div class="col">
          <p class="lead"> Select your preferred plan </p>
          <hr>
          <p>After learning about the different plans, choose the one that would best fit into your lifestyle and
             suit your needs.
          </p>
        </div>
        </div>
        
      </div>
    </div>


    <div class="row mt-5">
      <div class="col-md-4">
        <p class="lead">Enter your financial information </p>
        <hr>
        <p>Understanding your current financial situation is key to getting your finances under control.
          By laying out your monthly income, expenses, and savings, you'll get a better idea of how you're 
          doing today, and how you can tackle your long term financial goals tomorrow. 
        </p>
      </div>
      <div class="col">
        <div class="text-center">
          <img src="assets/images/setgoals.PNG">
        </div>
      </div>
    </div>

    <p class="lead text-center mt-5">
      And just like that, you're closer to achieving your financial goals. 
    </p>

    <div class="text-center">
      <img src="assets/images/progress.PNG">
    </div>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <a class="btn buttonColor" [routerLink]="['/signIn']" role="button">Get Started</a>
    </div>

  </div>









  <div *ngIf="loggedIn()">
    <p>Reasons to learn about personal finance, budgeting, and money management:</p>
  </div>

</div>